.ICEauthority
.IdeaIC2016.3/
.apport-ignore.xml
.astropy/
.backups/
.bash_history
.bash_logout
.buildroot-ccache/
.cache/
.codeblocks/
.config/
.cups/
.gconf/
.gitconfig
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.install4j
.ipaddrs
.ipython/
.java/
.jupyter/
.kde/
.lesshst
.local/
.lvm_history
.matlab/
.micropython.history
.micropython/
.mozilla/
.notes
.oracle_jre_usage/
.pki/
.python_history
.recently-used.xbel
.scummvm/
.scummvmrc
.ssh/
.subversion/
.tome/
.vim/
.viminfo
.vmware/
.wget-hsts
.wine/
.yEd/
Desktop/
Documents/
Downloads/
IdeaProjects/
Pictures/
Qt/
VM/
Videos/
Workspace/
data/
dev/
instructions/
matlab/
nonwork/
sherpa-releases/
yEd/
*.*.swp
.elinks/
*/__pycache__/
.cargo/
.multirust
.rustup/
.pylint-gui-history
.pylint.d/
.dbus/
.gnuplot_history
.rpmdb/
.sudo_as_admin_successful
amcmaster_SFI.ovpn
fridays.txt
st-notes.txt
vpn-connect.sh
vpn-disconnect.sh
.wine*
.creds
.tickers
.mysql*
.cert/
.nmcli-history
.xboardrc
xboard.debug
.eclipse/
SimplicityStudio/
SimplicityStudio_v4/
.Xauthority
.buildman
.dmrc
.nv/
Music/
*.tar.zst
.ncftp/
.openocd_history
st-service-fsm.graphml
