.ICEauthority
.IdeaIC2016.3/
.apport-ignore.xml
.astropy/
.backups/
.bash_history
.bash_logout
.buildroot-ccache/
.cache/
.codeblocks/
.config/
.cups/
.gconf/
.gitconfig
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.install4j
.ipaddrs
.ipython/
.java/
.jupyter/
.kde/
.lesshst
.local/
.lvm_history
.matlab/
.micropython.history
.micropython/
.mozilla/
.notes
.oracle_jre_usage/
.pki/
.python_history
.recently-used.xbel
.scummvm/
.scummvmrc
.ssh/
.subversion/
.tome/
.vim/
.viminfo
.vmware/
.wget-hsts
.wine/
.yEd/
Desktop/
Documents/
Downloads/
IdeaProjects/
Pictures/
Qt/
VM/
Videos/
Workspace/
data/
dev/
instructions/
matlab/
nonwork/
sherpa-releases/
yEd/
*.*.swp
.elinks/
*/__pycache__/
